[data-md-color-scheme="default"] {
  --md-primary-fg-color: #DB1F74;
  --md-accent-fg-color: #FA5C52;
  --md-primary-fg-color--dark: #640E35;
  --md-mermaid-node-bg-color: #FBF5F7D4;
  --md-mermaid-node-fg-color: #E4978F;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #B81A61;
  --md-accent-fg-color: #E64B49;
  --md-primary-fg-color--dark: #640E35;
  --md-mermaid-node-bg-color: #292c3ede;
  --md-mermaid-node-fg-color: #795858;
}

[data-md-color-scheme="default"] table td:empty {
    background-color: #f0f0f0;
}

[data-md-color-scheme="slate"] table td:empty {
    background-color: #1B1E25;
}

.md-logo {
    width: 30px;
    height: auto;
}

h2 {
    clear: both;
}

.grid-right {
    float: right;
    width: 49%;
    margin-left: 20px !important;
    margin-top: 0 !important;
}

.grid.cards li.span-2 {
    grid-column: span 2;
}

@media (max-width: 768px) {
    .md-logo {
    width: 45px;
    height: auto;
    }

    .grid-right {
        float: none;
        width: 100%;
        margin-left: 0px !important;
    }

    .grid.cards li.span-2 {
        grid-column: inherit;
    }

}
